.dashboard-crown {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.logo-outer-circle {
  width: 135px;
  height: 135px;
  background: #0b0e14;
  border: 5px solid #ffca28;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px rgba(255, 202, 40, 0.4);
}
.logo-inner-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.central-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
