.ts-header {
  background: #151921;
  border: 2px solid #ffca28;
  border-radius: 25px;
  padding: 50px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  /* الفتحة الهندسية للوجو */
  clip-path: polygon(0% 0%, 35% 0%, 38% 12%, 62% 12%, 65% 0%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: 10px;
}
.user-meta .status-badge {
  background: rgba(76, 175, 80, 0.1);
  color: #4caf50;
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 10px;
  border: 1px solid #4caf50;
  width: fit-content;
  margin-bottom: 5px;
}
.user-meta h2 { font-size: 1.2rem; color: #fff; margin: 0; display: flex; align-items: center; gap: 8px; }
.lvl-tag { color: #b388ff; font-size: 0.8rem; background: rgba(179, 136, 255, 0.1); padding: 2px 6px; border-radius: 4px; }
.balance-container-header { display: flex; align-items: center; gap: 8px; margin-top: 10px; }
.pi-icon-gold { color: #ffca28; font-size: 1.4rem; font-weight: bold; }
.balance-amount { font-size: 1.4rem; color: #fff; font-weight: bold; }
.header-title { text-align: right; }
.header-title h3 { color: #fff; font-size: 0.9rem; margin: 0; width: 120px; line-height: 1.2; }
.merchant-name { color: #ffca28; font-size: 0.75rem; margin-top: 5px; }
