.ts-header {
  background: var(--panel-bg);
  border: 2px solid var(--digital-gold);
  border-radius: 30px;
  padding: 55px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  clip-path: polygon(0% 0%, 35% 0%, 38% 12%, 62% 12%, 65% 0%, 100% 0%, 100% 100%, 0% 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.pi-icon-gold {
  color: var(--digital-gold);
  text-shadow: 0 0 10px rgba(255, 202, 40, 0.6);
  font-size: 1.8rem;
}

.balance-amount {
  font-family: 'Orbitron', sans-serif; /* لو متاح عندك خط تقني */
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.merchant-name {
  color: var(--digital-gold);
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
